body{
    min-width: 1280px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    font-weight: normal;
    font-family: "PT SAns", "Arial", sans-serif;
    text-transform: uppercase;
}

.container{
    width: 1200px;
	margin: auto;
}

/*header*/
.main-navigation{
    width: 1200px;
}

.main-menu{
    width: 1200px;
    list-style: none;
    padding: 0;
	list-style: none;
	font-size: 0;
}

.main-menu li{
    width: 240px;
	padding: 17px 0;
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
}

.main-menu li:nth-child(1),
.main-menu li:nth-child(2) {
	width: 168px;
	padding-left: 72px;
	text-align: left;
}

.main-menu li:nth-child(2) {
	margin-right: 240px;
}

.main-menu li:nth-child(3),
.main-menu li:nth-child(4) {
	width: 168px;
	padding-right: 72px;
	text-align: right;
}

.main-menu a {
	text-decoration: none;
	color: #000000;
	font-weight: bold;
}

.main-logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -60px;
}
/*основное содержание*/
.main-content{
    width: 1200px;
    margin: 0;
    padding: 0;
}

/*фон и слоганы*/
.main-poster{
    min-height: 515px;
    background-image: url("../img/fon.jpg");
    background-position: 0 -55px;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    line-height: 55px;
    padding-top: 55px;
    border: 0;
    
}
 
/*описание*/
.main-description{
    text-align: center;
    width: 500px;
    min-height: 125px;
	margin: auto;
	padding: 45px;
}


}
.main-tagline{
    font-size: 21px;
    color: #000000;
    font-weight: bold;
   
}

/*описание№1*/
.description-block-first{
    display: flex;
    max-height: 258px;
    text-align: center;
    border: none; 
    justify-content: center;
}
.blue{
    background-color: #81b3d2;
    color: #ffffff;
}

.green{
    background-color: #eeeeee;
}
.advantage-item{
    text-align: center;
}
    
.headline{
    font-size: 21px;
    line-height: 21px;
    
}    

.description-block,
.description-image{
    display: 
}
.description-image{
    max-height: 259px;
}
.description-block{
    width: 360px;
	padding-top: 35px;
	padding-bottom: 57px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	vertical-align: top; 
}

.second-advantage{
    display: flex;
}

.first-advantage{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 185px;
    align-items: center;
}

.item-image{
    align-self: flex-start;
}

.item-tatle{
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    align-self: center;
}

.item-text{
    font-size: 14px;
    line-height: 21px;
    align-self: flex-end;
}
.hotel-search{
    text-align: center;
    width: 500px;
    min-height: 125px;
	margin: auto;
	padding: 45px;
}


.search-heading{
    font-size: 30px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.headline{
    
}
.reason{
    font-size: 1em;
}
/*footer*/
.main-footer{
    display: flex;
    margin-top: 36px;
    padding-top: 30px;
    padding-bottom: 35px;
    padding-left: 130px;
    padding-right: 95px;
    
}


.hastag{
    width: 160px;
    margin-right: 240px;
    font-size: 21px;
    font-weight: bold;
}

.social{
    width: 180px;
    
}

.develop-link{
    width: 240px;
    margin-left: auto;
}
.hastag,
.social,
.develop-link{
    min-height: 90px;
}

/*втарая страница*/
.search-options{
    width: 1056px;
	background-image: url("../img/filterbackground.jpg");
    background-position: 0 -75px;
	padding: 31px 72px;
	font-size: 0;
	line-height: 0;
	color: #ffffff;
    display: flex;
}
.checkmenu{
    display: flex; 
    width: 1056px;
}

.form-checkbox-facilities,
.form-checkbox{
    border: none;
    margin-right: 95px;
}

legend{
   font-size: 16px;
   line-height: 21px;
   font-weight: bold;
}
label{
   font-size: 14px;
   line-height: 45px; 
   padding-bottom: px;
}
/*filtr*/
.filter-range {
  width: 460px;
  margin:  auto; /* для демо */

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}
/*сортировка*/
.sorting-bar{
}
/*список отелей*/

.hotel-item{
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    border-top:  1px solid #e5e5e5;
    border-collapse: collapse;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.hotel-info{
    width: 260px;
    margin-left: 30px;
    margin-right: 520px;
}
