body{
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    font-weight: normal;
    font-family: "PT SAns", sans-serif
    text-transform: uppercase;
}

.main-tagline{
    font-size: 21px;
    color: #000000;
    font-weight: bold;        
}

.search-heading{
    font-size: 30px;
    line-height: 24;
    color: #000000;
    font-weight: bold;
}

.headline{
    
}
.reason{
    font-size: 1em;
}

